<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Alunos</title>
    <%- include("../partials/header.ejs") %>
</head>

<body>
    
    <div class="container">

        <h1> Alunos Cadastrados </h1>

        <% if (mensagem != undefined) {
            const css = `color:${cor}`%>
            <div style=<%= css %>> 
                    <%= mensagem %>
            </div>
        <% } %> 


        <table class="table">

            <tr>
                <th>Matrícula</th>
                <th>Nome</th>
                <th>Detalhar</th>
                <th>Alterar</th>
                <th>Deletar</th>
            </tr>

            <% for(let aluno of listaAlunos) {  %>
                <tr>
                    <td>
                        <%= aluno.matricula%>
                    </td>
                    <td>
                        <%= aluno.nome%>
                    </td>

                    <td>
                        <a class="btn btn-outline-success" href="/aluno/<%= aluno.matricula %>">Detalhes</a>
                    </td>
                    <td>
                        <a class="btn btn-outline-info" href="/aluno/cadastrar/<%= aluno.matricula %>">Atualizar</a>
                    </td>
                    <td>    
                        <a class="btn btn-outline-danger" onclick="return confirm('Confirmar remoção?')" href="/aluno/remover/<%= aluno.matricula %>">Remover</a>
                    </td>
                </tr>

            <% } %>

        </table>

        <div>
            <a class="btn btn-success" href="/aluno/cadastrar">Cadastrar</a>
            <a class="btn btn-dark" href="/" >Voltar</a>
        </div>

    </div>

</body>

<foot>
    <%- include("../partials/footer.ejs") %>
</foot>


</html>