<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar</title>
    <%- include("../partials/header.ejs") %>
</head>

<body>
    
    <div class="container">

        <p style="font-size:40px;"> Cadastrados </p>

        <% if (mensagem != undefined) {
            const css = `color:${cor}`%>
            <div style=<%= css %>> 
                <%= mensagem %>
            </div>
        <% } %> 


        <table class="table">

            <tr>
                <th>Disciplina</th>
                <th>Nome</th>
                <th>Detalhar</th>
                <th>Alterar</th>
                <th>Deletar</th>
            </tr>

            <% for(let disciplina of listaDisciplinas) {  %>
                <tr>
                    <td>
                        <%= disciplina.disciplina%>
                    </td>
                    <td>
                        <%= disciplina.nome%>
                    </td>
                    <td>
                        <a class="btn btn-outline-success" href="/disciplina/<%= disciplina.disciplina %>">Detalhes</a>
                    </td>
                    <td>
                        <a class="btn btn-outline-info" href="/disciplina/cadastrar/<%= disciplina.disciplina %>">Atualizar</a>
                    </td>
                    <td>
                        <a class="btn btn-outline-danger" onclick="return confirm('Confirmar remoção?')" href="/disciplina/remover/<%= disciplina.disciplina %>">Remover</a>
                    </td>
                </tr>

            <% } %>

        </table>

        <div>
            <a class="btn btn-success" href="/disciplina/cadastrar">Cadastrar</a>
            <a class="btn btn-dark" href="/" >Voltar</a>
        </div>

    </div>

</body>

<foot>
    <%- include("../partials/footer.ejs") %>
</foot>

</html>